h2{
    font-size: 18px;
    padding: 10px 20px;
    color: #575ed8;
}

#chat-window{
    height: 400px;
    overflow: auto;
    background: #f9f9f9;
}
#users-list {
	height: 400px;
    overflow: auto;
	border: solid 1px black;
}

#output p{
    padding: 14px 0px;
    margin: 0 20px;
    border-bottom: 1px solid #e9e9e9;
    color: #555;
}

#output strong{
    color: #575ed8;
}

label{
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
}

.cardCell {
	width:50px;
	height:50px;
	border: solid 1px black;
}